@import "../../../style/settings.scss";

.container {
  padding: 0 10rem;
  background-color: $color-dark-blue;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 5rem;
    .nav {
      width: 14rem;

      .link {
        margin-right: 30px;
        white-space: nowrap;
        flex-wrap: wrap;
        color: $color-main-font;
        text-decoration: none;
        &:hover {
          color: $color-light-blue;
        }
      }
    }
    .contentCopyright {
      .logo {
        img {
          height: 100%;
          width: 80px;
        }
      }
    }
    .contentSocial {
      display: inline-flex;
      gap: 2rem;
      .social {
        .icon {
          font-size: 30px;
          text-decoration: none;
          color: $color-light-blue;
          transition: all 0.2s ease-in-out;
          &:hover {
            transform: scale(1.1);
            color: rgba($color-main-font, 0.5);
          }
        }
      }
    }
  }
}
