@import "../../../../style/settings.scss";
@import "../../../../style/config.scss";
.contLogo {
  display: grid;
  place-items: center;
  img {
    height: 100%;
    width: 200px;
  }
}
.container {
  height: 100vh;
}
.contCard {
  display: flex;
  justify-content: center;
  padding: 3rem;
  gap: 5rem;
}
.link1 {
  text-decoration: none;
  color: $color-main-font;
}
.link2 {
  text-decoration: none;
  color: $color-main-font;
  .card {
    &::before {
      background-image: url(#{$IMGS_URL}/detailing/another-photo/laweta.jpg) !important;
      background-position: center calc(100% + 3rem);
    }
  }
}
.card {
  border-radius: 50px;
  height: 50vh;
  width: 500px;
  position: relative;
  border-radius: 50px;
  height: 50vh;
  width: 500px;
  overflow: hidden;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("#{$IMGS_URL}/detailing/hyundai/hyundai1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: inherit; /* Dziedziczy border-radius od rodzica */
    transition: transform 0.5s ease-in-out;
    z-index: -1; /* Umożliwia umieszczenie tła pod zawartością karty */
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 100%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    transition: all 0.5s ease-in-out;
  }

  &:hover::before {
    transform: scale(1.1);
  }
  &:hover::after {
    height: 100%;
  }

  .contText {
    position: absolute;
    bottom: 0;
    padding: 20px;
    z-index: 2;
    width: 100%;
    text-align: center;
  }
  .btn {
    display: inline-block;
    background-color: $color-light-blue;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $color-dark-blue;
      border-radius: 0px;
      transform: scale(1.1);
      color: $color-light-blue;
    }
  }
}

/* Małe telefony w orientacji pionowej */
@media only screen and (max-width: 896px) {
  .container {
    .contLogo {
      margin-top: 4vh;
      img {
        height: 100%;
        width: 100px;
      }
    }
    .contCard {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0;
      gap: 40px;
      .card {
        border-radius: 50px;
        height: 30vh;
        width: 250px;
        position: relative;
        border-radius: 50px;
      }
    }
  }
}

/// dodać
.wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 896px) {
    margin-top: 1rem;
  }
  .link3 {
    background-color: rgba(red, 0.5);
    text-decoration: none;
    color: $color-main-font;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: all 0.2s ease-in-out;
    position: relative;
    @media only screen and (max-width: 896px) {
      font-size: 0.8rem;
      padding: 0.5rem;
    }

    .new {
      position: absolute;
      top: -2rem;
      left: -4rem;
      transform: rotate(-15deg);
      background-color: rgb(111, 95, 0);
      border-radius: 10rem;
      padding: 0.5rem 2rem;
      @media only screen and (max-width: 896px) {
        top: -1.5rem;
        transform: rotate(0deg);
        left: 0;
        padding: 0.5rem;
      }
    }
    .wheelI {
      font-size: 2.5rem;
      animation: rotationW 2s linear infinite;
    }
    &:hover {
      background-color: rgba($color-dark-blue, 8);
      scale: 1.05;
      .wheelI {
        animation: rotationW 0.5s linear infinite;
      }
    }
  }
}

@keyframes rotationW {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
