@import "../../../../style/settings.scss";

.container {
  background-color: $color-dark-blue;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 3rem;
  .card {
    padding: 1rem;
    img {
      border: 10px double $color-light-blue;
      border-radius: 20px;
      width: 100%;
      height: auto;
      object-fit: contain;
      @media only screen and (max-width: 896px) {
        width: 25rem;
        height: 30rem;
      }
    }
  }
}
